body{
    background-color: #333;
}
.tree{
    width: 400px;
    height: 600px;
    padding-top: 50px;
    border: 1px solid #888;
    display: inline-block;
    position: absolute;
    top: 50px;
    left:450px;
    text-align: center;
    
}
.tree > div{
    font-size: 0;
}
.tree > :nth-child(1){
    margin: 0 130px;
    border-bottom: 60px solid green;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;}
.tree > :nth-child(2){
    margin: 0 110px;
    border-bottom: 70px solid green;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;}
.tree > :nth-child(3){
    margin: 0 70px;
    border-bottom: 90px solid green;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;}
.tree > :nth-child(4){
    margin: 0 30px;
    border-bottom: 100px solid green;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    position: relative;
}
    

.tree > :nth-child(5){
  border-bottom: 120px solid green;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
}
.tree .star{
    width: 25px;
    height: 25px;
    position: absolute;
    background-image:radial-gradient(yellow,orange) ;
    right: 186px;
    top:38px
}
.tree>:nth-child(1)>.star:nth-child(2){
    transform: rotate(45deg);
}
.tree .ball{
    
    width:20px;
    height: 20px;
    position: absolute;
    border-radius: 100%;
    background-image: radial-gradient( red,gold);
}
.tree>:nth-child(4)>.ball:nth-child(1) {
    top:60px;
    left:-20px;
}
.tree>:nth-child(4)>.ball:nth-child(2){
    top:60px;
    right:-20px;

}
.tree .lights {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color:red;
    
    border-radius: 100%;

}
.tree>:nth-child(4)>.lights{
    transform: translateX(40px);
    
}
.tree>:nth-child(5)>.lights:nth-child(2){
    transform: translateX(100px);
    
}
.tree .ball-1{
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 100%;
    background-image: radial-gradient(pink,lightblue);
}
.tree .ball-1:nth-child(2){
    right: 120px;
    top:220px
}

.tree .on-switch{
    background-color: burlywood;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}
.tree:target .lights{
    animation: flashing 1s infinite;
}
@keyframes flashing{
    from{
        background-color: red;
    }
    to{
        background-color: yellow;
    }
}
